<!-- Used for calling child component data to parent component -->

<!-- <h1 *ngIf="dataFromChild">{{dataFromChild?.name + ' ' + dataFromChild?.gender}}</h1> -->
<!-- <div *ngFor="let employee of employees">
  <app-display-employee [employee]="employee" (notify)="handleNotify($event)"></app-display-employee>
</div> -->


<!-- pass data, method from child component to parent component using template reference varibale -->
<!-- <h1 #h1Variable></h1>

<div *ngFor="let employee of employees">
  <div (click)="h1Variable.innerHTML = childComponent.getNameAndGender()">
    <app-display-employee [employee]="employee" #childComponent>

    </app-display-employee>
  </div>
</div> -->
<div class="form-group">
  <input class="form-control" type="text" placeholder="Search By Name" [(ngModel)]="searchTerm" />
</div>



<div *ngFor="let employee of filteredEmployees ">
    <app-display-employee [employee]="employee" [searchTerm]="searchTerm" (notifyDelete)="onDeleteNotification($event)">

    </app-display-employee>

</div>


<!-- input property change detection example -->

<!-- <button (click)="nextEmployee()" class="btn btn-primary">
  View Next Employee
</button>
<br/><br/>
<app-display-employee [employee]="employeeToDisplay" [employeeId]="employeeToDisplay.id">
</app-display-employee> -->